**
!version
!backend/
!backend/Dockerfile
!backend/go.mod
!backend/go.sum
!backend/cmd/
!backend/cmd/**
!backend/internal/
!backend/internal/**
!backend/web/
!backend/web/**
!backend/third_party/
!backend/third_party/**
!browser-extension/
!browser-extension/build.py
!browser-extension/src/
!browser-extension/src/**
**/__pycache__/
**/*.pyc
backend/web/downloads/
!document-parser/
!document-parser/Dockerfile
!document-parser/go.mod
!document-parser/go.sum
!document-parser/cmd/
!document-parser/cmd/**
!document-parser/internal/
!document-parser/internal/**
!document-parser/third_party/
!document-parser/third_party/**
